
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyHomePage</title>
</head>
<body>
    <div> 
        Customer Management Application using MVC<br />
        The current time is  @ViewBag.MyTime
        <br />
        <a href="/Customer/Enter"> Add New Customers</a><br />
        <a href="/Customer/EnterSearch"> Search Customers </a><br />
    </div>
</body>
</html>
