@model CustomerManagement.ViewModel.CustomerViewModel
@using CustomerManagement.Models  @*import namespace*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchCustomer</title>
</head>
<body>
    <div> 
        <form action="SearchCustomer" method="post">
            @*name will be snt to server side*@
            Enter Customer Name : <input name="txtCustomerName" id="Text1" type="text" />
            <br />
            <input id="Submit1" type="submit" value="Search Customer" />
        </form>
    </div>
    <br />
    
    @Html.Partial("DisplayCustomers", Model)  @*same model will be passed to the view*@

</body>
</html>
